.md-typeset a {
    color: var(--md-code-hl-keyword-color);
}

/* .md-typeset h1 {
    color: var(--md-code-hl-keyword-color)
} */
.md-typeset h1 {
    /* color: var(--md-primary-bg-color); */
    /* color: var(--md-footer-bg-color); */
    font-weight: bold;
}

.center {
    display: block;
    margin: 0 auto;
}

.md-typeset .md-button.md-button--small {
    margin-left: 0;
    margin-right: 0.8em;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    font-size: inherit;
    line-height: inherit;
    height: auto;
    text-transform: none;
    vertical-align: baseline;
    font-weight: normal;
    color: var(--md-code-hl-keyword-color);
}